@import url('https://fonts.googleapis.com/css?family=Convergence');
html {
    font-family:"Convergence","Monospace";
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

footer {
    font-size: 14px;
    border:2px solid black;
}