@import url('https://fonts.googleapis.com/css?family=Convergence');
html {
    font-family:"Convergence","Monospace";
    font-size: 20px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
}

footer {
    font-size: 0.7rem;
    border:1px solid grey;
}